<%= show_nav_bar %>
<% @page_title = "New Admin User" %>

<div class="admin-users new">
  <h2>Sign Up</h2>

  <%= form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="btn btn-primary">
      <%= f.submit("Create Account") %>
    </div>

  <% end %>
</div>
